.profileList {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: flex-start;
    /* border: 1.1px solid #5838fc; */
    margin: .5em;
    background-color: whitesmoke;
    border-radius: 0.35em;
    padding: 0.5em 1em;
    box-shadow: 2px 2px 5px gray;
}

.profileName {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    margin: 4px;
}

.profile_wrap {
    position: relative;
    /* width: 210px;
    height: 230px; */
}

.profile_file {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(129 70 246 / 38%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin: 0px;

    /* transition effect. not necessary */
    transition: opacity 1s, visibility 2s;
}

.profile_wrap:hover .profile_file {
    visibility: visible;
    opacity: 1;
}

.modal {
    font-size: 12px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.cropContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}